<div class="p-4 flex justify-center select-none">
  <tiles-showcase class="relative shadow-[inset_0_0_10px_10px_rgba(0,0,0,0.2)] flex justify-center w-[800px] h-[600px]"></tiles-showcase>
</div>

<script>
  import TilesShowcase from "./webComponent";

  customElements.define("tiles-showcase", TilesShowcase);
</script>