<div class="relative p-4 flex flex-col select-none">
  <div id="animated-path-showcase-controls" class="flex flex-col pb-4"></div>
  <animated-path-showcase class="relative flex justify-center w-full h-[600px]"></animated-path-showcase>
</div>

<script>
  import AnimatedPathShowcase from "./webComponent";

  customElements.define("animated-path-showcase", AnimatedPathShowcase);
</script>